---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";
import FilterBar from "../../components/FilterBar.astro";
import BlogCard from "../../components/BlogCard.astro";
import PageHeader from "../../components/PageHeader.astro";
import ContentList from "../../components/ContentList.astro";
import { getCollection } from "astro:content";
import { getTagsByIds, type TagId } from "../../config/tags";

const allBlogPosts = await getCollection("blog");

const posts = allBlogPosts
  .map((post) => {
    // post.id is the filename without extension in Astro v5
    const slug = post.id;
    return {
      title: post.data.title,
      excerpt: post.data.excerpt,
      date: post.data.date,
      readTime: post.data.readTime,
      slug: slug,
      tags: post.data.tags as TagId[],
    };
  })
  .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());

const allTags = getTagsByIds([...new Set(posts.flatMap((p) => p.tags))]);
---

<BaseLayout title="Blog">
  <Navigation currentPage="blog" />

  <PageHeader
    title="Blog"
    description="Thoughts on design, technology, and the creative process"
  />

  <FilterBar tags={allTags} type="blog" />

  <ContentList>
    {
      posts.map((post, i) => (
        <div
          data-blog-item
          data-blog-tags={post.tags.join(",")}
          class:list={[i === posts.length - 1 && "border-b-0"]}
        >
          <BlogCard
            title={post.title}
            excerpt={post.excerpt}
            date={post.date}
            readTime={post.readTime}
            slug={post.slug}
            tags={post.tags}
            variant="list"
          />
        </div>
      ))
    }
  </ContentList>

  <Footer />
</BaseLayout>
